.noMP {
  margin: 0;
  padding: 0;
}

p.noMP {
  width:40%;
}

.f {
  display: flex;
}

.noNewLine {
  display: inline;
}

main {
  display:flex;
}

#right {
  position:fixed;
  right:0;
  width:50%;
}

#resultsRecipes {
  position:fixed;
  margin-top:100px;
}

#buttons {
  width:50%;
}

#navbar {
  margin-bottom:10px;
}

html {
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  font-style: normal;
}